a:link{
	color: #009900;
	font-size: 2em;
	/*background-color: gray;*/
}

a:visited{
	color: #009900;
	/*background-color: gray;*/
}

a:hover{
	color: #ff6600;
	/*background-color: gray;*/
}

header{
	color: #009900;
	font-size: 4em;
	background-color: #000066;
	border-radius: 20px;
	border: #009900 3px solid;
	padding: 8px;
}

p{
	display:inline-block;
	background-color: #000066;
	border-radius: 20px;
	border: black 3px solid;
	padding: 8px;
	text-align: center;
}

img{
	border-radius: 5px;
	border: black 1px solid;
}

div{
	text-align: center;
}