a:link{
	color: #009900;
	font-size: 35px;
	/*background-color: gray;*/
}

a:visited{
	color: #009900;
	/*background-color: gray;*/
}

a:hover{
	color: #ff6600;
	/*background-color: gray;*/
}

header{
	color: #009900;
	font-size: 55px;
	background-color: #000066;
	border-radius: 20px;
	border: #009900 3px solid;
	padding: 8px;
}

p{
	display:inline-block;
	background-color: #000066;
	border-radius: 20px;
	border: black 3px solid;
	padding: 8px;
	text-align: center;
	color:#009900;
	font-size: 50px;
}

img{
	border-radius: 5px;
	border: black 1px solid;
}

div{
	text-align: center;
}

b{
	color: #009900;
	font-size: 40px;
}

 #backBTN{
 	color: #009900;
	font-size: 20px;
	display:block;
 }

 #backBTN:hover{
	color: #ff6600;
	/*background-color: gray;*/
}

